<form>
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" [{ ngModel }]="titulo" name = "titulo">
      </div>
      <div class="mb-3">
        <label for="subtitulo" class="form-label">Subtitulo</label>
        <input type="text" class="form-control" [{ ngModel }]="Subtitulo" name = "Subtitulo">

        <label for="resumo" class="form-label">Resumo</label>
        <textarea class="form-control" id="Sinopse" rows="3"></textarea>
      </div>
</form>
