<div class = "container my-5">
    <h1 class="nb-3">Editar</h1>
  
    <div class>
  
    <form #form="ngForm">
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" readonly
             name="id" [(ngModel)]="addLivroRequest.titulo">
          </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo"
           name="titulo" [(ngModel)]="addLivroRequest.titulo">
        </div>
        <div class="mb-3">
          <label for="subtitulo" class="form-label">Subtitulo</label>
          <input type="text" class="form-control" id="subtitulo"
           name="subtitulo" [(ngModel)]="addLivroRequest.subtitulo">
        </div>
        <div class="mb-3"> 
          <label for="resumo" class="form-label">Resumo</label>
          <textarea class="form-control" id="resumo" 
          name="resumo" [(ngModel)]="addLivroRequest.resumo"></textarea>
          
        </div>
        <div class="mb-3">
          <label for="quantPaginas" class="form-label">Paginas</label>
          <input type="number" class="form-control" id="quantPaginas"
          name="quantPaginas"[(ngModel)]="addLivroRequest.quantPaginas">
        </div>
        <div class="mb-3">
          <label for="dataPublicacao" class="form-label">Publicação</label>
          <input type="date" class="form-control" id="dataPublicacao"
          name="dataPublicacao" [(ngModel)]="addLivroRequest.dataPublicacao">
        </div>
        <div class="mb-3">  
          <label for="editora" class="form-label">Editora</label>
          <input type="text" class="form-control" id="editora"
          name="editora" [(ngModel)]="addLivroRequest.editora">
        </div>
        <div class="mb-3">  
          <label for="edicao" class="form-label">Edição</label>
          <input type="number" class="form-control" id="edicao"
          name="edicao" [(ngModel)]="addLivroRequest.edicao">
        </div>
        <div class="mb-3">
          <label for="quantLivros" class="form-label">Quantidade</label>
          <input type="number" class="form-control" id="quantLivros"
          name="quantLivros" [(ngModel)]="addLivroRequest.quantLivros">
        </div>
        <button type="salvar" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>